version: '3.8'

services:
  app:
    build: .
    container_name: nw_dev_app
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
    depends_on:
      - db

  db:
    image: mariadb:latest
    container_name: nw_dev_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: estudiantescc
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
